[submodule "repos/lila"]
	path = repos/lila
	url = https://github.com/chess-opening-duel/lila.git
[submodule "repos/lila-db-seed"]
	path = repos/lila-db-seed
	url = https://github.com/chess-opening-duel/db-seed.git
[submodule "repos/lila-ws"]
	path = repos/lila-ws
	url = https://github.com/chess-opening-duel/lila-ws.git
[submodule "repos/lila-fishnet"]
	path = repos/lila-fishnet
	url = https://github.com/lichess-org/lila-fishnet.git
